/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/Dashboard.zip
/public/assets/css
/public/assets/css-rtl
/public/assets/js
/public/assets/our-style
/public/assets/plugins
/public/assets/scss
/public/assets/scss-rtl
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
